---
// import ContactForm from "../components/ContactForm.astro";
import Images from "../components/Images.astro";
// import Shows from "../components/Shows.astro";
import Tips from "../components/Tips.astro";
---

<div id="container" class="w-full max-w-4xl mx-auto px-4 text-center mt-5">
  <main>
    <h1 id="home">
      Planet Pluto
    </h1>
    <div class="mb-4 mx-auto">
      <img src="img/planet_pluto.jpeg" alt="Paul Sanders" class="mx-auto" />
    </div>
    <p>
      Planet Pluto is a cover band from Greensboro, NC playing hits from the 80s, 90s, and 00s.
    </p>
    <div class="mt-8">
      <Tips />
    </div>
    <div class="mx-auto">
      <h2 class="flex justify-center mt-4" id="videos">Videos</h2>
      <div class="flex justify-center mt-4">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/6hizMDoQ0rM?si=r9t3VaMICiKftYjE"
          title="October Neighborhood Show"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="flex justify-center mt-4">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/VZds9dumlmc"
          title="Hero's Pub and Sandwich Shop"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="flex justify-center mt-4">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/iP1plDCbhus?si=Q4SCbkWa4dNdSMrQ"
          title="Jack Brown's Beer and Burger Joint Jun 21 2025"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="flex justify-center mt-4">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/T53jkR672q8?si=E8Yh3VHMUEMJ3VIA"
          title="Flat Iron May 28 2025"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="flex justify-center mt-4">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/uH69ojuAkUQ?si=z3zM2okwQ8Hbz6ti"
          title="Sympathy For The Devil"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="flex justify-center mt-4">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/mALoTNzFdbU?si=qjt9TzWnyX90AcuJ"
          title="Mary Jane's Last Dance"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <Images />
    <div class="flex justify-center">
      <h2 id="contact">Contact/Booking</h2>
    </div>
    <div>
      For inquiries or to book the band contact us at <a href="mailto:planetplutobandgso@gmail.com" class="link">planetplutobandgso@gmail.com</a>
    </div>
    <!-- <Shows /> -->
  </main>
</div>
