<div>
  <h2 id="upcoming-shows">Upcoming Shows</h2>
  <ul class="list bg-base-100 rounded-box shadow-md">
    <li class="list-row">
      <div>
        May 28 2025 - 8pm @ <a class="link" href="https://www.facebook.com/flatirongso">Flat Iron</a> - Greensboro, NC
      </div>
    </li>
    <li class="list-row">
      <div>
        June 6 2025 - 8pm @ <a class="link" href="https://www.facebook.com/wobgreensboro">World Of Beer</a> - Greensboro, NC
      </div>
    </li>
    <li class="list-row">
      <div>
        June 21 2025 - 7pm @ <a class="link" href="https://www.facebook.com/jackbrownskdh">Jack Brown's Beer & Burger Join</a> - Kill Devil Hills, NC
      </div>
    </li>
    <li class="list-row">
      <div>
        July 25 2025 - 8pm @ <a class="link" href="https://www.facebook.com/wobgreensboro">World Of Beer</a> - Greensboro, NC
      </div>
    </li>
  </ul>
</div>
