<div>
  <h2 id="shows">Upcoming Shows</h2>
  <ul class="list bg-base-100 rounded-box shadow-md">
    <li class="list-row">
      <div>
        May 28 2025 - 8pm @ <a class="link" href="https://www.facebook.com/flatirongso">Flat Iron</a>
      </div>
    </li>
  </ul>
</div>
