<div>
  <h2 id="upcoming-shows">Upcoming Shows</h2>
  <ul class="list bg-base-100 rounded-box shadow-md">
    <li class="list-row">
      <div>
        June 21 2025 - 7pm @ <a class="link" href="https://www.facebook.com/jackbrownskdh">Jack Brown's Beer & Burger Joint</a> - Kill Devil Hills, NC
      </div>
    </li>
  </ul>
</div>
