<div>
  <h2 id="shows">Upcoming Shows</h2>
  <ul class="list bg-base-100 rounded-box shadow-md">
    <li class="list-row">
      <div>
        May 30 2026 - 8pm @ <a class="link" href="https://grapesandgrainstavern.com/">Grapes & Grains</a> - Greensboro, NC
      </div>
    </li>
  </ul>
</div>
