<div class="flex justify-center">
  <a href="https://account.venmo.com/u/paul41" class="flex items-center space-x-2 link">
    <span>Tips</span>
    <img src="img/venmo_logo_blue_small.png" class="h-8" />
  </a>
</div>
