---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---


<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Planet Pluto</title>
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="9adb8892-bac3-400a-ab91-a82f81f90919"
    ></script>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
